<% self_message = direct_message.user == current_user %>
<div id="<%= dom_id(direct_message) %>" class="chat-message <%= 'chat-message-self' if self_message %>">
  <div class="chat-bubble-col <%= 'chat-bubble-col-self' if self_message %>">
    <div class="chat-bubble <%= self_message ? 'chat-bubble-self' : 'chat-bubble-other' %>">
      <%= direct_message.content %>
    </div>
    <p class="chat-meta <%= 'chat-meta-self' if self_message %>">
      <%= direct_message.user.user_profile&.name || direct_message.user.email %> ·
      <time data-controller="local-time"
            datetime="<%= direct_message.created_at.utc.iso8601 %>">
        <%= direct_message.created_at.utc.strftime("%H:%M") %>
      </time>
    </p>
  </div>
</div>
