<%= form_with model: [@workout_plan, workout_plan_exercise] do |f| %>
  <% if workout_plan_exercise.errors.any? %>
    <div class="form-errors">
      <ul>
        <% workout_plan_exercise.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :exercise_id, "Exercise", class: "form-label" %>
    <%= f.collection_select :exercise_id, exercises, :id, :title,
          { prompt: "Select an exercise" }, class: "form-select" %>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <div class="form-field mb-0">
      <%= f.label :n_sets, "Sets", class: "form-label" %>
      <%= f.number_field :n_sets, class: "form-input", min: 1, placeholder: "3" %>
    </div>
    <div class="form-field mb-0">
      <%= f.label :n_repetitions, "Reps", class: "form-label" %>
      <%= f.number_field :n_repetitions, class: "form-input", min: 1, placeholder: "10" %>
    </div>
    <div class="form-field mb-0">
      <%= f.label :rest_in_s, "Rest (s)", class: "form-label" %>
      <%= f.number_field :rest_in_s, class: "form-input", min: 0, placeholder: "60" %>
    </div>
  </div>

  <div class="flex gap-3 justify-end pt-4 border-t border-black/10 dark:border-white/10 mt-6">
    <%= link_to "Cancel", workout_plan_path(@workout_plan), class: "btn-ghost" %>
    <%= f.submit class: "btn-primary" %>
  </div>
<% end %>
