<nav>
  <a href="/">Home</a>

  <% if user_signed_in? %>
    <%= link_to "Calendar", calendars_path %>
    <%= link_to "Workout Plans", workout_plans_path %>
    <%= link_to "My Buddies", pairings_path %>
    <%= link_to "Find New Buddy", user_profiles_path %>

    <details>
      <summary>
        <% if current_user.user_profile&.photo&.attached? %>
          <%= cl_image_tag current_user.user_profile.photo.key,
              width: 40,
              height: 40,
              crop: :fill %>
        <% else %>
          Avatar
        <% end %>
      </summary>

      <%= link_to "My profile", user_profile_path(current_user) %>
      <br>

      <% pending_count = current_user.received_requests.pending.count %>

      <%= link_to "Requests", requests_path %>
      <% if pending_count > 0 %>
        (<%= pending_count %>)
      <% end %>
      <br>

      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    </details>

  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</nav>
