

<h1><%= @profile == current_user ? "My Profile" : @profile.name %></h1>

<% if @profile.photo.attached? %>
  <%= cl_image_tag @profile.photo.key,
      width: 200,
      height: 200,
      crop: :fill %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @profile.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.address.presence || "—" %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @profile.experience&.capitalize || "—" %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @profile.goal&.humanize || "—" %>
</p>

<% if @profile == current_user %>
  <%= link_to "Edit Profile", edit_profile_path %>
<% else %>
  <%= link_to "Back to search", user_profiles_path %>
  <%= button_to "Add Friend", user_requests_path(@profile.user_id) %>
<% end %>


