<h1><%= @user_profile.name %></h1>

<p><%= @user_profile.gender.capitalize %>, <%= ((Date.today - @user_profile.birthdate) / 365.25).floor %> years old</p>
<p><%= @user_profile.address %></p>
<p>Goal: <%= @user_profile.goal %></p>
<p>Experience: <%= @user_profile.experience %></p>

<button>Add Friend</button>
<button>Message</button>
