<h1><%= @user_profile.name %></h1>
<p>Goal: <%= @user_profile.goal %></p>
<p>Experience: <%= @user_profile.experience %></p>
<p>Address: <%= @user_profile.address %></p>
<p>Gender: <%= @user_profile.gender %></p>
<button>Add Friend</button>
<button>Message</button>
