<h1>My Profile</h1>

<% if @profile.photo.attached? %>
  <%= cl_image_tag @profile.photo.key,
      width: 200,
      height: 200,
      crop: :fill %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @profile.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<%= button_to "Add Friend", user_requests_path(@user_profile.user_id) %>
<%= link_to "Edit Profile",
            edit_user_profile_path %>
