<h1>Calendar Entry</h1>

<%= form_with model: @calendar_entry do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :start_time %>
  <%= f.datetime_field :start_time %>

  <%= f.label :end_time %>
  <%= f.datetime_field :end_time %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :entry_type %>
  <%= f.text_field :entry_type %>

  <%= f.label :note %>
  <%= f.text_area :note %>

  <%= f.submit %>
<% end %>
