<%= turbo_stream_from "chat_#{@chat.id}" %>
<%= turbo_stream_from "workout_plan_#{@workout_plan.id}" %>
<%= turbo_stream_from "workout_plan_#{@workout_plan.id}_user_#{current_user.id}_sessions" %>

<div class="page-container">
  <div class="mb-6">
    <button data-controller="navigation" data-action="click->navigation#back" class="btn-ghost">← Back</button>
  </div>

  <div class="workout-plan-layout">
    <div class="lg:col-span-2">
      <%= render "plan_content", workout_plan: @workout_plan, workout_plan_exercises: @workout_plan_exercises %>
      <div class="mt-6">
        <%= render "chats/collapsable", chat: @chat, message: @message %>
      </div>
    </div>

    <div>
      <%= render "sessions", sessions: @sessions %>
    </div>
  </div>
</div>
